<h1>Title: <%= @product.title %></h1>
<p>Description: <%= @product.description %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>
<p>Created at:<%= @product.created_at %></p>

<p>Category: <%= @category.title %></p>

<%= link_to "Edit" , edit_product_path(@product), class: "btn btn-default" %>
|
<%= link_to "Delete" , product_path(@product),
                        method: :delete,
                        data: {confirm: "Are you sure?"} ,
                        class: "btn btn-default"
%>
|
<!-- Favourite -->
<% if can? :favourite, @product %>

<% user_favourite = @product.favourite_for current_user%>
<% if user_favourite.present? %>
<%= link_to "Remove Favourite", product_favourite_path(@product, user_favourite),
                      		      method: :delete %>
<% else %>
<%= link_to "Favourite", product_favourites_path(@product),
                         method: :post %>
<% end %>
<% else %>
Favourite
<% end %>
(<%= pluralize @product.favourites.count, "Favourite"  %>)

<!-- Creating a review -->
<h2>Submit a review</h2>
<%= @review.errors.full_messages.join(",") %>
<%= form_for [@product, @review], remote: true do |f| %>
<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
<div>
  <%= f.radio_button :star, "1" %>
  <%= f.label :star, "1", :value => "1" %>
  <%= f.radio_button :star, "2" %>
  <%= f.label :star, "2", :value => "2" %>
  <%= f.radio_button :star, "3" %>
  <%= f.label :star, "3", :value => "3" %>
  <%= f.radio_button :star, "4" %>
  <%= f.label :star, "4", :value => "4" %>
  <%= f.radio_button :star, "5" %>
  <%= f.label :star, "5", :value => "5" %>
</div>

<%= f.submit %>
<% end %>
<!-- Showing Reviews -->
<h2>Reviews</h2>
<div id="reviews">
<% @product.reviews.each do |rev| %>
  <%= render "/reviews/review", review: rev %>
<% end %>
</div>
